body {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 16px;
}

.container {
    position: relative;
    width: 500px;
    height: 600px;
    background-color: rgb(120, 131, 141);
    margin: auto;
}

header {
    text-align: center;
    color: rgb(207, 117, 32);
    font-size: 40px;
    padding: 20px 0;
}





#game {
    background-color: #bbada0;
    width: 400px;
    height: 400px;
    margin: 0 50px;
    padding: 4px;
    border-radius: 5px;
    display: grid;
    /* grid-template-columns: 80px 80px 80px 80px;
    grid-template-rows: 80px 80px 80px 80px;
    justify-items: center; */

    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    grid-gap: 0px;
}

.cube {
    padding: 0 0 0 0;
    margin: auto;
    background-color: #cdc0b4; /*blank box*/
    width: 92px;
    height: 92px;
    justify-self: center;
    border-radius: 5px;
    text-align: center;    
}

span {
    display: inline-block;
    vertical-align: middle;
    line-height: 92px;
    font-size: 22px;
}







#score {
    margin: 10px 50px;
    padding: 20px;
    font-size: 22px;
}

#points {
    display: inline-block;
}

#playername {
    text-align: right;
    float: right;
    color: rgb(23, 27, 27);
}

footer {
    position: absolute;
    bottom: 0px;
    text-align: center;
    width: 100%;
    padding: 6px;
    color: rgb(212, 212, 212);
    font-weight: normal;
}