/* KEYFRAMES */



@keyframes tileBorn{
    0% {
        width: 70px;
        height: 70px;
    }
    70% {
        width: 100px;
        height: 100px;
    }
    100% {
        width: 90px;
        height: 90px;
    }
}

@keyframes tileDown1 { /* moves down 1 tile */
    0% {
        margin-top: 0;
        width: 90px;
        height: 90px;
        grid-area: 1 / 1;
        z-index: 2;
        background-color: #faf8ef;
        opacity: 1;
    }
    90% {opacity: 1;}
    100% {
        margin-top: 120px;
        width: 60px;
        height: 60px;
        grid-area: 1 / 1;
        z-index: 2;
        background-color: #faf8ef;
        opacity: 0;
    }
}

/* #a11 {
    animation-name: tileDown1;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation: tileDown1 2s forwards linear;
} */








body {
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
    font-weight: bold;
    font-size: 16px;
    background-color: #faf8ef;
    color: #776e65;
}

.container {
    position: relative;
    width: 500px;
    height: 600px;
    margin: auto;
}

header {
    text-align: center;
    font-size: 40px;
    padding: 20px 0;
}





#game {
    background-color: #bbada0;
    width: 400px;
    height: 400px;
    margin: 0 50px;
    padding: 4px;
    border-radius: 5px;
    display: grid;
    /* grid-template-columns: 80px 80px 80px 80px;
    grid-template-rows: 80px 80px 80px 80px;
    justify-items: center; */

    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    grid-gap: 0px;
    /* z-index: 1; */
}

#gameOver {
    display: none;
    position: relative;
    background-color: #d4d4d48a;
    width: 400px;
    height: 400px;
    margin: -408px 50px 0;
    padding: 4px;
    border-radius: 5px;
    z-index: 4;
}

#a11 {
    border: rgb(189, 223, 138) 1px solid;
    z-index: 3;
}




.cube {
    padding: 0 0 0 0;
    margin: auto;
    background-color: #cdc0b4; /*blank box*/
    width: 90px;
    height: 90px;
    justify-self: center;
    border-radius: 5px;
    text-align: center;
    z-index: 2;
}

.cube span {
    display: inline-block;
    vertical-align: middle;
    line-height: 90px;
    font-size: 38px;
}







#score {
    margin: 10px 50px;
    padding: 20px;
    font-size: 22px;
}

#points {
    display: inline-block;
    color: rgb(56, 66, 66);
}

#playername {
    text-align: right;
    float: right;
    color: rgb(56, 66, 66);
}

footer {
    position: relative;
    bottom: 0px;
    text-align: center;
    width: 100%;
    padding: 6px;
    font-weight: normal;
}